/* Login.css */
.Loginpage {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: linear-gradient(79deg, #7439db, #c66fbc 48%, #f7944d);
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  height: 100%; /* Ensure the body takes up the full height */
}

.auth-form-container,
.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  animation: slideInLeft 0.5s ease-in-out;
}

.auth-form-container h2 {
  margin-bottom: 20px; /* Add some space below the heading */
}

.auth-form-container input {
  margin-bottom: 15px; /* Space between input fields */
  padding: 10px; /* Padding for input fields */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners */
}

.auth-form-container button {
  padding: 10px; /* Padding for the button */
  background-color: #4caf50; /* Green background */
  color: white; /* White text */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
}

.auth-form-container button:hover {
  background-color: #45a049; /* Darker green on hover */
}

/* Animation */
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
